* {
	border-radius: 0.25rem;
}

body {
	background: url("hip-square.png") repeat;
}

form {
	margin: 0px;
}

fieldset {
	padding: 1rem;
	border: 2px solid gray;
}

input, select {
	border-color: gray !important;
}

label {
	font-weight: bold;
}

/* Bootstrap overrides */
.btn {
	font-weight: bold;
}

.btn-sm {
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: normal;
}

/* Nav*/
nav .nav-link {
	color: white !important;
	font-weight: bold;
}

nav .nav-link:hover {
	color: white !important;
	background-color: #0068d8;
}

/* Tabele */
table, th, tr, td {
	border: 1px solid gray !important;
}

th {
	background-color: lightgray;
}

tr:hover {
	background-color: lightcyan;
}